body {
    font-family: var(--font-heading);
    text-align: justify;
    box-sizing: border-box;
}

/* 
header {
    background-color: var(--color-primary);
    border-bottom: 5px solid var(--color-secondary);
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

header .header img {
    width: 60px;
    height: 100%;
}

header .header .title {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
}

header h1 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-secondary);
}

header .container {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

header nav {
    display: none;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a,
a:visited,
a:active {
    color: var(--color-gray);
    text-decoration: none;
    padding: var(--padding-s);
    margin-right: var(--margin-s);
    font-weight: bold;
}

header a:hover {
    color: var(--color-light);
    background-color: var(--color-dark);
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius-l);
}

header .container .header-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .burger,
.cta {
    align-items: center;
}

header .container .burger button {
    width: 40px;
    border-radius: var(--border-radius-l);
    position: absolute;
    top: 5px;
    left: 0;
}

header .container .cta button {
    margin: 5px 5px 5px 0;
} */

/* MAIN */
/********/
main .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}

main .container .dashboard {
    background-color: var(--color-white);
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: var(--border-radius-m);
    margin: 0 var(--margin-m);
}

main .container .dashboard .dash-sidebar {
    color: var(--color-light);
    background-color: var(--color-primary);
    border-radius: var(--border-radius-m) 0 0 var(--border-radius-m);
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 35%;
    max-width: 300px;
}

main .container .dashboard .dash-sidebar div {
    color: var(--color-gray);
    width: 100%;
    border-bottom: 1px solid var(--color-gray);
    font-size: 0.8rem;
    padding: var(--padding-m);
}

main .container .dashboard .dash-sidebar ul {
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin-bottom: 250px;
}

main .container .dashboard .dash-sidebar ul li {
    padding: var(--padding-m) 0;
}

main .container .dashboard .dash-sidebar li:hover {
    background-color: var(--color-secondary);
}

main .container .dashboard a {
    color: var(--color-light);
    text-decoration: none;
    width: 100%;
    padding: var(--padding-m);
}

main .container .dashboard .dash-sidebar a:hover,
a:active {
    background-color: var(--color-secondary);
}

main .container .dashboard .dash-content {
    background-color: #ebebeb;
    border: 0.5px solid var(--color-secondary);
    border-radius: 0 var(--border-radius-m) var(--border-radius-m) 0;
    width: 65%;
    font-size: 0.8rem;
    font-weight: bold;
}

main .container .dashboard .dash-content .dash-head {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .container .dashboard .dash-content .dash-head div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-light);
    font-size: 0.7rem;
    font-weight: bold;
    width: 60%;
    margin: var(--margin-m) auto;
}

main .container .dashboard .dash-content .dash-head div:first-child span:first-child {
    width: 20%;
    background-color: var(--color-secondary);
    border-radius: var(--border-radius-m) 0 0 var(--border-radius-m);
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-s);
}

main .container .dashboard .dash-content .dash-head div:first-child span:last-child {
    width: 80%;
    background-color: var(--color-gray);
    border-radius: 0 var(--border-radius-m) var(--border-radius-m) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    min-height: 30px;
    padding: var(--padding-s);
}

main .container .dashboard .dash-content .dash-head div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    font-size: 0.8rem;
    font-weight: bold;
    background-color: var(--color-gray);
    border-radius: var(--border-radius-m);
    width: 70%;
    padding: var(--padding-m);
    margin: var(--margin-m) auto;
}

main .container .dashboard .dash-content .kpi {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .container .dashboard .dash-content .kpi div {
    color: var(--color-light);
    background-color: var(--color-primary);
    border-radius: var(--border-radius-m);
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    min-height: 60px;
    padding: var(--padding-s) var(--padding-l);
    margin: var(--margin-s) auto;
}

main .container .dashboard .dash-content .kpi div span {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    padding: 0 var(--padding-m);
}

main .container .dashboard .dash-content .kpi div span:first-child {
    color: var(--color-secondary);
    font-size: 0.8rem;
}

main .container .dashboard .dash-content .kpi div span:nth-child(2) {
    color: var(--color-gray);
}


main .container .dashboard .dash-content .title {
    display: flex;
    justify-content: center;
    color: var(--color-light);
    font-size: 0.8rem;
    font-weight: bold;
    background-color: var(--color-gray);
    border-radius: var(--border-radius-m);
    width: 70%;
    padding: var(--padding-m);
    margin: var(--margin-m) auto;
}

main .container .dashboard .dash-content .card {
    color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6rem;
    margin: var(--margin-l) var(--margin-m);
}

main .container .dashboard .dash-content .card div:first-child {
    background-color: var(--color-primary);
    border-radius: var(--border-radius-m) 0 0 var(--border-radius-m);
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 var(--padding-s);
}

main .container .dashboard .dash-content .card div:last-child {
    color: var(--color-gray);
    flex: 1;
}

main .container .dashboard .dash-content .card div:last-child div:first-child {
    display: flex;
    justify-content: center;
    background-color: var(--color-dark);
    border-radius: 0 var(--border-radius-m) 0 0;
    font-size: 0.8rem;
    width: 100%;
    padding: var(--padding-s) 0;
}

main .container .dashboard .dash-content .card div:last-child div:first-child a {
    width: 100%;
}

main .container .dashboard .dash-content .card div:last-child div:last-child {
    display: flex;
    justify-content: center;
    background-color: var(--color-red);
    border-radius: 0 0 var(--border-radius-m) 0;
    font-size: 0.8rem;
    width: 100%;
    padding: var(--padding-s) 0;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--margin-xl) auto;
}

.cta button {
    color: var(--color-white);
    background-color: var(--color-secondary);
    font-weight: bold;
    border: 0;
    border-radius: var(--border-radius-xl);
    width: 200px;
    height: 35px;
}

/* FOOTER */
/**********/
/* footer {
    background-color: var(--color-primary);
    color: var(--color-gray);
    border-top: 5px solid var(--color-secondary);
    border-radius: 0 0 var(--border-radius-l) var(--border-radius-l);
}

footer .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: var(--color-secondary);
}

footer .logo a img {
    width: 60px;
    height: 100%;
    min-width: 50px;
    border-radius: 0 0 0 var(--border-radius-m);
}

footer .footer .mentions-desktop {
    display: none;
}

footer .reseaux {
    display: flex;
    margin-right: var(--border-radius-m);
}

footer .reseaux a img {
    width: 20px;
    padding: var(--padding-s);
    margin: 5px;
    background-color: var(--color-gray);
    border-radius: 5px;
}

footer .reseaux a img:hover {
    background-color: var(--color-secondary);
}


/* Format mini-tablette */
@media screen and (max-width:576px) {}


/* Format tablette */
@media screen and (min-width: 768px) {
    header {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    header h1 {
        font-size: 3rem;
    }

    header .container nav {
        display: block;
        margin: 0 5px 5px 0;
    }

    header .container .burger button {
        display: none;
    }

    header .container .cta button {
        margin: 0 15px 5px 15px;
    }

    .container {
        min-width: 718px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .container .dashboard {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: var(--padding-xl);
        margin: 0 var(--margin-m);
    }

    main .container .dashboard .dash-content {
        padding: var(--border-radius-l);
    }

    main .container .dashboard .dash-content .dash-head {
        width: 90%;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin: auto;
    }

    main .container .dashboard .dash-content .dash-head div:first-child {
        width: 30%;
        margin-right: 0;
    }

    main .container .dashboard .dash-content .dash-head div:last-child {
        width: 30%;
        margin-left: 0px;
    }

    main .container .dashboard .dash-content .kpi {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    main .container .dashboard .dash-content .kpi div {
        width: 20%;
        padding: var(--padding-s) var(--padding-m);
        margin: var(--border-radius-m);
    }

    main .container .dashboard .dash-content .title {
        display: flex;
        width: 30%;
        padding: var(--padding-m);
        margin-left: var(--margin-xl);
        margin-bottom: var(--margin-l);
    }

    main .container .dashboard .dash-content .card {
        font-size: 0.8rem;
        margin: var(--margin-l);
    }

    footer .footer {
        margin: 0 var(--margin-l);
    }

    footer .footer .mentions-desktop {
        display: flex;
    }

    footer .footer .mentions-responsive {
        display: none;
    }

    footer .mentions p {
        margin: auto;
    }
}

/* Format desktop */
@media screen and (min-width: 992px) and (max-width: 1200px) {

    .container {
        max-width: 1000px;
    }

    header .container {
        width: 1000px;
        margin: auto;
        display: flex;
    }

    main .container .dashboard .dash-content .dash-head div:first-child span:last-child {
        font-size: 0.8rem;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }
}

/* Format TV */
@media screen and (min-width: 1200px) {
    /* .header,
    .container,
    .footer {
        max-width: 1200px;
        margin: auto;
    } */

    main .container .dashboard .dash-content .dash-head div:first-child span:last-child {
        font-size: 0.8rem;
    }
}