/* FOOTER */
footer .footer {
    background-color: var(--color-primary);
    color: var(--color-gray);
    border-top: 5px solid var(--color-secondary);
    border-radius: 0 0 var(--border-radius-three) var(--border-radius-three);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

footer a,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    color: var(--color-secondary);
}

footer .logo a img {
    max-width: 100px;
    min-width: 50px;
    border-radius: 0 0 0 10px;
}

footer .mentions {
    display: flex;
}

footer .mentions p {
    margin: auto;
}

footer .reseaux {
    display: flex;
}

footer .reseaux a img {
    width: 20px;
    padding: var(--padding-s);
    margin: 5px;
    background-color: var(--color-gray);
    border-radius: 5px;
}

footer .reseaux a img:hover {
    background-color: var(--color-secondary);
}