body {
    font-family: var(--font-heading);
    text-align: justify;
    box-sizing: border-box;
}

header {
    background-color: var(--color-primary);
    border-bottom: 5px solid var(--color-secondary);
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

header .header img {
    width: 60px;
    height: 100%;
}

header .header .title {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
}

header h1 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-secondary);
}

header .container {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

header nav {
    display: none;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a,
a:visited,
a:active {
    color: var(--color-gray);
    text-decoration: none;
    padding: var(--padding-s);
    margin-right: var(--margin-s);
    font-weight: bold;
}

header a:hover {
    color: var(--color-light);
    background-color: var(--color-dark);
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius-l);
}

header .container .header-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .burger,
.cta {
    align-items: center;
}

header .container .burger button {
    width: 40px;
    border-radius: var(--border-radius-l);
    position: absolute;
    top: 5px;
    left: 0;
}

header .container .cta button {
    margin: 5px 5px 5px 0;
}

/* MAIN */
/********/
main .container {
    background-color: var(--color-gray);
    border-radius: var(--border-radius-m);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: var(--margin-m) auto;
    padding: var(--margin-m) 0;
}

main .container div:first-child {
    display: none;
}

main .container .connection {
    width: 80%;
    height: 40px;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-m);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--border-radius-s);
    margin: var(--margin-l) auto 0;
}

main .container .connection p {
    color: var(--color-secondary);
    font-weight: bold;
    text-transform: capitalize;
}

main .container .field {
    background-color: #fff;
    border-radius: var(--border-radius-m);
    width: 90%;
    margin: var(--margin-xl) auto var(--margin-l);
    padding: var(--padding-l) 0;
}

main .container .field .field-two,
.field-three,
form {
    display: flex;
    flex-direction: column;
}

main input {
    width: 90%;
    border-radius: var(--border-radius-s);
    height: 30px;
    color: var(--color-light);
    box-shadow: unset;
}

main .container .field input::placeholder {
    text-align: center;
}

main .container .field .rules {
    width: 90%;
    border-radius: var(--border-radius-s);
    color: var(--color-light);
    background-color: var(--color-gray);
    margin: var(--border-radius-m) auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
}

main .container .field .rules p,
ul {
    padding: var(--padding-s);
    margin: auto;
}

main .container .field button {
    width: 90%;
    height: 30px;
    color: var(--color-light);
    background-color: var(--color-secondary);
    border: none;
    border-radius: var(--border-radius-xl);
    text-transform: capitalize;
    font-weight: bold;
    margin: 50px auto 0;
}

#name,
#firstname,
#phone,
#email,
#password,
#password-confirm {
    color: var(--color-light);
    background-color: var(--color-primary);
    margin: var(--margin-m) auto 0;
}

#password-forgot {
    color: var(--color-light);
    background-color: var(--color-gray);
    border-radius: var(--border-radius-xl);
    border: 0;
    width: 90%;
    height: 30px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    margin: 0 auto;
}

#subscribe {
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border: 0;
    width: 90%;
    height: 30px;
    border-radius: var(--border-radius-xl);
    text-align: center;
    align-content: center;
    text-decoration: none;
    text-transform: capitalize;
    margin: 50px auto 10;
}

/* FOOTER */
/**********/
footer {
    background-color: var(--color-primary);
    color: var(--color-gray);
    border-top: 5px solid var(--color-secondary);
    border-radius: 0 0 var(--border-radius-l) var(--border-radius-l);
}

footer .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: var(--color-secondary);
}

footer .logo a img {
    width: 60px;
    height: 100%;
    min-width: 50px;
    border-radius: 0 0 0 var(--border-radius-m);
}

footer .footer .mentions-desktop {
    display: none;
}

footer .reseaux {
    display: flex;
    margin-right: var(--border-radius-m);
}

footer .reseaux a img {
    width: 20px;
    padding: var(--padding-s);
    margin: 5px;
    background-color: var(--color-gray);
    border-radius: 5px;
}

footer .reseaux a img:hover {
    background-color: var(--color-secondary);
}


/* Format mini-tablette */
@media screen and (max-width:576px) {}


/* Format tablette */
@media screen and (min-width: 768px) {
    header {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    header h1 {
        font-size: 3rem;
    }

    .container {
        width: 718px;
        margin: auto;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    header .container nav {
        display: block;
        margin: 0 5px 5px 0;
    }

    header .container .burger button {
        display: none;
    }

    header .container .cta button {
        margin: 0 15px 5px 15px;
    }

    footer .footer {
        margin: 0 var(--margin-l);
    }

    footer .footer .mentions-desktop {
        display: flex;
    }

    footer .footer .mentions-responsive {
        display: none;
    }

    footer .mentions p {
        margin: auto;
    }
}

/* Format desktop */
@media screen and (min-width: 992px) and (max-width: 1200px) {

    header .container {
        width: 1000px;
        margin: auto;
        display: flex;
    }

    .container {
        max-width: 1100px;
    }

    main .container {
        display: flex;
        flex-direction: row;
    }

    main .container div:first-child {
        display: block;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }
}

/* Format TV */
@media screen and (min-width: 1200px) {

    /* .header,
    .container,
    .footer {
        max-width: 1200px;
        margin: auto;
    } */
    main .container div:first-child {
        display: block;
    }
}