button {
    color: var(--color-light);
    background-color: var(--color-secondary);
    border: 0;
    border-radius: var(--border-radius-xl);
    font-weight: bold;
    width: 90%;
    height: 40px;
    margin: 20px auto 0;
}

button:hover {
    color: var(--color-secondary);
    background-color: var(--color-light);
    border: 2px solid var(--color-secondary);
}

a {
    text-align: center;
    color: var(--color-light);
    background-color: var(--color-secondary);
    border: 2px solid transparent;
    border-radius: var(--border-radius-xl);
    font-size: 0.9rem;
    text-decoration: none;
    min-height: 20px;
}

a:hover {
    color: var(--color-secondary);
    background-color: var(--color-light);
    border: 2px solid var(--color-secondary);
}

.title {
    display: flex;
    justify-content: center;
    color: var(--color-light);
    font-size: 0.8rem;
    background-color: var(--color-grey);
    border-radius: var(--border-radius-m);
    width: 70%;
    padding: var(--padding-m);
    margin: var(--margin-l) auto;
}