header {
    background-color: var(--color-primary);
    border-top: 5px solid var(--color-secondary);
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-s);
}

header .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


header .top img {
    width: 100px;
    padding: 0 var(--padding-s);
}

header .top .title {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

header h1 {
    color: var(--color-secondary);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
}

header .bottom {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
}

header .bottom nav {
    display: none;
}

header .bottom nav ul {
    display: flex;
}

header .bottom nav ul li {
    display: inline-block;
}

header .bottom nav ul li a,
header .bottom nav ul li a:visited,
header .bottom .btn .cta a {
    color: var(--color-secondary);
    border: 1px solid transparent;
    border-radius: var(--border-radius-m);
    text-decoration: none;
    font-weight: bold;
    padding: var(--padding-m) var(--padding-s);
}

header .bottom nav ul li a:hover,
header .bottom nav ul li a:active,
header .bottom .btn .cta a:hover {
    color: var(--color-light);
    background-color: var(--color-secondary);
    border: 1px solid transparent;
}

header .bottom .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .bottom .btn .burger,
header .bottom .btn .cta {
    align-items: center;
}

header .bottom .btn .burger button {
    color: var(--color-light);
    background-color: var(--color-secondary);
    border: 0;
    border-radius: var(--border-radius-m);
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

header .bottom .btn .burger button:hover {
    color: var(--color-secondary);
    background-color: var(--color-light);
}

header .bottom .btn .cta a {
    color: var(--color-light);
    background-color: var(--color-secondary);
    margin-right: var(--margin-s);
}

header .bottom .btn .cta a:hover {
    color: var(--color-secondary);
    background-color: var(--color-light);
}

/* Format tablette */
@media screen and (min-width: 768px) {
    header h1 {
        text-transform: uppercase;
        font-size: 2rem;
    }

    header .bottom {
        width: 50%;
        justify-content: start;
    }

    header .bottom nav {
        display: block;
        margin: 0 5px 5px 0;
    }

    header .bottom a {
        font-size: 1rem;
    }

    header .bottom .burger button {
        display: none;
    }
}

/* Format desktop */
@media screen and (min-width: 992px) {

    header {
        flex-direction: row;
    }

    header .top {
        width: 50%;
    }

    header .top .title h1 {
        font-size: 1.8rem;
    }

    header .bottom {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    header .bottom nav {
        padding: 0;
    }
}