body {
    font-family: var(--font-heading);
    text-align: justify;
    box-sizing: border-box;
}

/* MAIN */
/********/

main {
    background-color: var(--color-light);
    padding: var(--padding-m);
}

main .container {
    background-color: var(--color-gray);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55%;
    padding: var(--padding-s);
    gap: 20px;
}

main .container .login-left {
    display: none;
}

main .container .login-right {
    border-radius: var(--border-radius-m);
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

main .container .login-right .login-title {
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border-radius: var(--border-radius-l);
    font-weight: bold;
    text-transform: capitalize;
    padding: var(--padding-s) var(--padding-l);
    margin: var(--margin-l) auto 0;
}

main .container .login {
    background-color: var(--color-light);
    border-radius: var(--border-radius-m);
    width: 100%;
    padding: var(--padding-l) 0;
    margin: var(--margin-l) auto;

}

main .container .login-right .login form,
main .container .login-right .login .login-pwd,
main .container .login-right .login .login-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main input {
    color: var(--color-light);
    border-radius: var(--border-radius-m);
    font-size: 1rem;
    width: 90%;
    height: 40px;
    box-shadow: unset;
}

main .container form input::placeholder {
    color: var(--color-light);
}

main .container .login form input::placeholder {
    text-align: center;
}

main .container .login form button,
main .container .login .login-pwd a,
main .container .login .login-link a {
    color: var(--color-light);
    background-color: var(--color-secondary);
    border: 2px solid transparent;
    border-radius: var(--border-radius-xl);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    box-sizing: border-box;
    width: 90%;
    height: 40px;
    margin-top: var(--margin-xxl);
}

main .container .login button:hover,
main .container .login .login-link a:hover {
    color: var(--color-secondary);
    background-color: var(--color-light);
    border: 2px solid var(--color-secondary);
}

main .container .login .login-pwd a {
    color: var(--color-light);
    background-color: var(--color-gray);
    margin-top: var(--margin-xl);
}

main .container .login .login-pwd a:hover {
    color: var(--color-gray);
    background-color: var(--color-light);
    border: 2px solid var(--color-gray);
}

main .container .login .login-link a {
    margin-top: var(--margin-l);
}

main .container .login .info,
main .container .login form .rules div {
    color: var(--color-light);
    background-color: var(--color-grey);
    border-radius: var(--border-radius-s);
    text-align: center;
    font-size: 0.8rem;
    width: 70%;
    padding: var(--padding-s);
    margin: var(--margin-m) auto;
}

main .container .login .rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--margin-m) auto 0;
}

main .container .login form .rules div {
    width: 100%;
}

main .container .login form .rules ul {
    list-style: none;
}

#name,
#firstname,
#phone,
#email,
#pwd,
#pwd-confirm {
    color: var(--color-light);
    background-color: var(--color-primary);
    margin: var(--margin-m) auto 0;
}

/* .error {
    color: var(--color-light);
    background-color: var(--color-red);
    border-radius: var(--border-radius-m);
    text-align: center;
    width: 70%;
    padding: var(--padding-m);
    margin: var(--margin-xl) auto 0;
} */

/* Format tablette */
@media screen and (min-width: 768px) {

    main .container .login-left {
        display: none;
    }

}

/* Format desktop */
@media screen and (min-width: 992px) {

    body {
        width: 90vw;
        margin: auto;
    }

    main .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        gap: 40px;
        padding: 0 var(--padding-xl);
        margin: auto;
    }

    main .container .login-right {
        width: 50%;
    }

    main .container .login-left {
        display: block;
        flex: 1;
    }

    main .container .login-left img {
        height: 90%;
        width: 100%;
        object-fit: cover;
        border-radius: var(--border-radius-m);
    }

    main .container .login .info {
        width: 40%;
    }

    main .container .login form .rules {
        width: 100%;
    }
}

/* Format TV */
@media screen and (min-width: 1200px) {

    main .container div:first-child {
        display: block;
    }
}

/***************/
/* A CORRIGER */
/*************/