/* COMPONENT */
/************/
button {
    color: var(--color-light);
    background-color: var(--color-secondary);
    border: 0;
    border-radius: var(--border-radius-xl);
    font-weight: bold;
    width: 80%;
    max-width: 400px;
    height: 40px;
    margin: 20px auto 0;
}

button:hover {
    color: var(--color-secondary);
    background-color: var(--color-light);
    border: 2px solid var(--color-secondary);
}

.error {
    color: var(--color-light);
    background-color: var(--color-red);
    border-radius: var(--border-radius-m);
    text-align: center;
    font-weight: bold;
    width: 70%;
    padding: var(--padding-m);
    margin: var(--margin-m) auto 0;
}

.success {
    color: var(--color-green);
    font-weight: bold;
}

body {
    background-color: var(--color-light);
    font-family: var(--font-heading);
    display: flex;
    flex-direction: column;
    text-align: justify;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .container .hero {
    background-color: var(--color-beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--padding-l);
}

main .container .hero img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

main .container .hero p {
    padding: 0 var(--padding-m);
    margin: var(--margin-l) auto;
}

main .container .hero2 {
    background-color: var(--color-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-m);
}

main .container .hero2 .title,
main .event h3 {
    color: var(--color-light);
    background-color: var(--color-primary);
    border-radius: var(--border-radius-m);
    text-align: center;
    font-size: 0.8rem;
    width: 70%;
    padding: var(--padding-m);
    margin: var(--margin-l) auto;
}

main .container .hero2 ul {
    display: grid;
    list-style: none;
    padding-left: 0;
}

main .container .hero2 ul li {
    display: flex;
    margin: 0 var(--margin-s);
}

main .container .hero2 ul li .card {
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border-radius: var(--border-radius-m);
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: var(--margin-s) 0;
}

main .container .hero2 ul li .card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

main .container .hero2 ul li .card p,
main .container .hero2 ul li .card span {
    font-size: 0.8rem;
}

main .container a {
    text-align: center;
    color: var(--color-light);
    background-color: var(--color-secondary);
    border: 2px solid transparent;
    border-radius: var(--border-radius-xl);
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    min-height: 20px;
    padding: var(--padding-s) var(--padding-l);
}

main .container a:hover {
    color: var(--color-secondary);
    background-color: var(--color-light);
    border: 2px solid var(--color-secondary);
}

main .hero .card-body button {
    border-radius: var(--border-radius-two);
    width: 80%;
    height: 30px;
}

main .hero3 {
    background-color: var(--color-beige);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding-m);
    margin: auto;
}

main .hero3 .spon-left,
main .hero3 .spon-right {
    display: flex;
}

main .hero3 .spon-left h4 {
    color: var(--color-primary);
    text-transform: uppercase;
    padding: var(--padding-s);
}

main .hero3 .spon-right span {
    color: var(--color-gray);
    background-color: var(--color-primary);
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius-m);
    text-align: center;
    font-size: 0.8rem;
    padding: var(--padding-m);
    margin: 0 var(--margin-s);
}

main .hero3 .spon-right span:last-child {
    display: none;
}

/* EVENT-WRAP */
/* ********* */
.event-wrap {
    background-color: var(--color-gray);
}

main .event {
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: var(--padding-l) var(--padding-m);
    margin: auto;
}

main .event .event-item,
main .event .account-item {
    background-color: var(--color-beige);
    border-radius: var(--border-radius-s);
    display: flex;
    width: 90%;
    padding: var(--padding-s);
    margin: var(--margin-s);
    gap: 30px;
}

main .event .event-item p,
main .event .account-item p {
    padding: 0;
    margin: 0;
}

main .event .event-item label,
main .event .account-item label {
    width: 30%;
}

main .event .event-item div,
main .event .account-item div {
    width: 60%;
}

main .event .event-item:last-child,
main .event .account-item:last-child {
    background-color: var(--color-light);
}

main .event .event-item div input,
main .event .event-item div select,
main .event .account-item div input,
main .event .account-item div select {
    width: 100%;
    height: 25px;
}

main .event .event-item div select,
main .event .account-item div select {
    height: 30px;
}

main .event .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 400px;
}

main .event .link a {
    color: var(--color-light);
    background-color: var(--color-gray);
    border-radius: var(--border-radius-xl);
    border: 2px solid var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    height: 30px;
    padding: var(--padding-s) var(--padding-xl);
}

main .event .link a:hover {
    color: var(--color-gray);
    background-color: var(--color-light);
    border: 2px solid var(--color-gray);
}

main .event form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .event ul li {
    font-weight: bold;
}

/* ********************* */
/* Format mini-tablette */
@media screen and (min-width: 549px) and (max-width: 767px) {

    main .container .hero2 ul {
        grid-template-columns: 1fr 1fr;
        gap: 10px
    }
}

/* **************** */
/* Format tablette */
@media screen and (min-width: 768px) {
    main .container .hero2 ul {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px
    }

    button {
        width: 60%;
    }

    main .hero3 .spon-right span:last-child {
        display: block;
    }
}

/* *************** */
/* Format desktop */
@media screen and (min-width: 992px) {

    body {
        width: 100%;
        margin: auto;
    }

    main {
        width: 90%;
        margin: auto;
        background-color: var(--color-light);
    }

    main .container .hero2 .title,
    main .event h3 {
        font-size: 1rem;
        width: 50%;
        padding: var(--padding-l);
        margin: var(--margin-l) auto;
    }

    main .container .hero2 ul {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px
    }

    main .card img {
        width: 100%;
    }

    main .hero3 {
        justify-content: space-around;
    }

    main .hero3 .spon-right span {
        font-size: 1.5rem;
        padding: var(--padding-l);
        margin: var(--margin-l);
    }
}

/* ********** */
/* Format TV */
@media screen and (min-width: 1200px) {
    main .container .hero2 ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px
    }
}