:root {
    /* Les couleurs */
    --color-primary: #1a1a2e;
    --color-secondary: #ff6b35;
    --color-beige: #d8d3d3;
    --color-light: #ebebeb;
    --color-red: #c80000;
    --color-green: #609f08;
    --color-gray: #6b7280;
    --color-grey: #5d5d5d;
    --color-dark: #373737;
    --color-marine: #2d2d44;

    /* Les textes */
    --font-heading: 'Montserrat', sans-serif;
    --font-body: 'Roboto', sans-serif;

    /* Les borders */
    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
    --border-radius-xl: 25px;

    /* Les padding */
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 20px;
    --padding-xl: 30px;
    --padding-xxl: 50px;

    /* Les margins */
    --margin-s: 5px;
    --margin-m: 10px;
    --margin-l: 20px;
    --margin-xl: 30px;
    --margin-xxl: 50px;

}